.env
backend/node_modules
backend/scripts
backend/generated
./enriched_hotel_menu_website
.node_modules
package-lock.json
"Screenshot 2025-07-16 122543.png"
.DS_Store
.vscode/
.idea/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
enriched_hotel_menu_website.md
Screenshot 2025-07-16 122543.png
frontend2/*